In [83]:
import numpy as np
import pandas as pd

In [84]:
data = pd.read_csv("API_NE.GDI.TOTL.ZS_DS2_en_csv_v2_423968.csv")

In [85]:
data.set_index("Country Name", inplace = True)

In [86]:
data.head()

,Country Code,1960,1961,1962,1963,1964,1965,1966,1967,1968,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
Country Name,,,,,,,,,,,,,,,,,,,,,
Aruba,ABW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,28.931993,28.505697,26.647564,23.999134,22.917984,21.481943,22.013508,21.472900,NaN,NaN
Afghanistan,AFG,16.11571,16.599198,19.105702,14.20119,13.888894,11.258279,8.412698,5.179283,6.472492,...,17.959072,16.674592,16.906255,17.343514,18.156855,19.454687,17.808790,19.174225,NaN,NaN
Angola,AGO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,28.197310,26.424354,26.667579,26.142969,27.500462,34.202489,27.214708,24.130305,NaN,NaN
Albania,ALB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,30.308680,31.413581,28.328550,28.052496,25.674692,25.819048,25.223827,25.049159,NaN,NaN
Andorra,AND,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [87]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 264 entries, Aruba to Zimbabwe
Data columns (total 61 columns):
Country Code    264 non-null object
1960            82 non-null float64
1961            82 non-null float64
1962            83 non-null float64
1963            84 non-null float64
1964            85 non-null float64
1965            99 non-null float64
1966            102 non-null float64
1967            104 non-null float64
1968            106 non-null float64
1969            106 non-null float64
1970            127 non-null float64
1971            126 non-null float64
1972            127 non-null float64
1973            127 non-null float64
1974            127 non-null float64
1975            130 non-null float64
1976            133 non-null float64
1977            135 non-null float64
1978            135 non-null float64
1979            133 non-null float64
1980            144 non-null float64
1981            154 non-null float64
1982            156 non-null float64
1983            158 non-null float64
1984            159 non-null float64
1985            163 non-null float64
1986            165 non-null float64
1987            166 non-null float64
1988            168 non-null float64
1989            169 non-null float64
1990            184 non-null float64
1991            182 non-null float64
1992            182 non-null float64
1993            184 non-null float64
1994            189 non-null float64
1995            199 non-null float64
1996            200 non-null float64
1997            201 non-null float64
1998            202 non-null float64
1999            202 non-null float64
2000            210 non-null float64
2001            211 non-null float64
2002            213 non-null float64
2003            214 non-null float64
2004            214 non-null float64
2005            215 non-null float64
2006            217 non-null float64
2007            218 non-null float64
2008            219 non-null float64
2009            219 non-null float64
2010            220 non-null float64
2011            220 non-null float64
2012            219 non-null float64
2013            219 non-null float64
2014            218 non-null float64
2015            216 non-null float64
2016            215 non-null float64
2017            208 non-null float64
2018            133 non-null float64
2019            0 non-null float64
dtypes: float64(60), object(1)
memory usage: 127.9+ KB

In [88]:
filtro = ["Belgium","Czech Republic","France","Germany","Italy","Netherlands","Poland","Portugal","Romania",
          "Spain","Sweden","United Kingdom","Norway","Turkey",
          "Kazakhstan","Russian Federation","Ukraine","Uzbekistan","United States","Canada","Argentina","Brazil",
          "Chile","Colombia","Mexico","Venezuela, Bolivarian Republic of","China","India","Indonesia","Japan","Malaysia",
          "Korea, Republic of","Taiwan, Province of China","Thailand","Australia","New Zealand","Algeria","Egypt","Nigeria",
          "South Africa","Iran, Islamic Republic of","Kuwait","Saudi Arabia","United Arab Emirates"]

In [89]:
data2 = data.loc[filtro]

C:\Users\edari\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  """Entry point for launching an IPython kernel.

In [96]:
data2.head(44)

,Country Name,Country Code,1960,1961,1962,1963,1964,1965,1966,1967,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,Belgium,BEL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,22.692053,23.990105,23.204536,22.173432,23.358293,23.701450,24.081198,24.649405,25.408291,NaN
1,Czech Republic,CZE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,27.122694,26.957537,26.185641,24.667043,25.880380,27.955780,25.979794,25.872953,26.167791,NaN
2,France,FRA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,21.946295,23.220909,22.626632,22.287193,22.709831,22.712324,22.609393,23.365720,23.455371,NaN
3,Germany,DEU,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,19.625396,21.077533,19.306773,19.512214,19.635471,19.234665,19.660385,20.092423,21.254784,NaN
4,Italy,ITA,NaN,NaN,NaN,NaN,NaN,23.146707,22.623488,23.529834,...,20.537702,20.462259,17.861622,16.955132,17.033005,17.302592,17.579322,17.619727,17.953439,NaN
5,Netherlands,NLD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,20.221625,20.039701,18.724712,18.510045,17.912621,22.474957,20.487565,20.592674,20.658261,NaN
6,Poland,POL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,21.313252,22.439789,20.990902,18.981167,20.358631,20.460186,19.586838,19.818390,20.656605,NaN
7,Portugal,PRT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,21.080697,18.598422,15.716457,14.631978,15.303024,15.823200,15.722135,16.883680,17.533076,NaN
8,Romania,ROU,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,27.142984,28.112269,26.950082,25.584766,24.683943,25.128258,23.333373,23.381567,24.161409,NaN
9,Spain,ESP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,23.548965,21.907349,19.993941,18.711349,19.452121,20.441191,20.437402,21.104089,21.927121,NaN
10,Sweden,SWE,NaN,NaN,NaN,NaN,NaN,28.218819,26.732030,25.651569,...,22.996466,23.908897,22.695968,22.577604,23.429449,24.315567,24.517996,25.614343,26.541023,NaN
11,United Kingdom,GBR,NaN,NaN,NaN,NaN,NaN,20.330049,19.815362,20.488564,...,15.794858,15.705976,15.879031,16.546370,17.256458,17.212116,17.255286,17.235119,17.247951,NaN
12,Norway,NOR,NaN,NaN,NaN,NaN,NaN,31.576249,32.183029,32.430714,...,25.414431,25.900302,26.483985,27.869845,28.065682,27.571649,28.726482,28.175796,27.612391,NaN
13,Turkey,TUR,9.985316,10.013908,10.709838,11.695279,10.934394,11.327762,12.844760,12.642045,...,26.972764,31.268694,28.304150,29.773211,29.033376,28.362025,28.226639,30.970171,29.189522,NaN
14,Kazakhstan,KAZ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,25.373549,22.998146,25.229660,24.569605,25.790247,27.907916,27.827583,26.560749,NaN,NaN
15,Russian Federation,RUS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,22.615051,24.444723,24.544083,23.129904,22.620849,22.388297,23.534252,24.092156,22.730222,NaN
16,Ukraine,UKR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,20.873381,22.436925,21.715507,18.488627,13.396496,15.933316,21.724162,19.946968,18.769547,NaN
17,Uzbekistan,UZB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,20.180066,26.651448,31.084466,30.295173,26.465284,26.064980,26.370118,29.473115,40.175556,NaN
18,United States,USA,22.528990,22.474703,23.070567,23.144378,23.111694,23.867151,24.269939,23.244749,...,18.743104,19.103526,20.020890,20.413743,20.778596,21.040740,20.320413,20.585440,NaN,NaN
19,Canada,CAN,NaN,22.344949,22.904662,22.735386,23.692826,26.087029,26.766951,24.108633,...,23.537314,24.207959,24.927529,24.969592,24.927645,23.903694,22.928427,23.589773,23.033571,NaN
20,Argentina,ARG,23.479234,27.766447,21.730935,18.272879,21.473913,22.427676,20.542547,21.215036,...,17.705534,18.398459,16.501987,17.305779,17.262881,17.070705,17.663228,18.757232,20.774064,NaN
21,Brazil,BRA,19.678041,21.356139,19.604660,19.259884,18.602398,20.023925,19.892891,16.918714,...,21.801322,21.826271,21.417225,21.693771,20.548407,17.411626,14.974618,15.035633,15.422724,NaN
22,Chile,CHL,14.076841,15.513601,12.733271,15.304316,14.632748,15.459690,16.837219,16.643501,...,23.139986,24.642765,26.449438,25.625568,23.241262,23.785732,22.220829,21.591746,22.708789,NaN
23,Colombia,COL,20.254788,20.492572,18.126592,17.654421,17.514055,14.725235,19.058470,16.998012,...,21.112649,22.227983,22.220564,22.487605,24.003314,23.773692,23.167420,21.619246,21.234936,NaN
24,Mexico,MEX,18.368834,17.563729,16.454947,18.373396,18.864661,20.260842,19.456447,20.156476,...,22.793095,23.281209,23.886555,22.493383,21.902400,23.276750,23.768367,22.957441,23.006623,NaN
25,"Venezuela, Bolivarian Republic of",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,China,CHN,39.112986,22.283535,15.324385,21.252904,23.831553,26.649366,30.168899,23.726452,...,47.717509,47.818815,47.391292,47.570059,47.205154,45.603346,44.474396,44.343965,NaN,NaN
27,India,IND,15.259798,14.379171,15.981638,15.277953,15.465341,17.360529,17.837807,15.277152,...,39.785620,39.590421,38.347416,34.023202,34.267806,32.116730,30.212017,30.941254,30.982716,NaN
28,Indonesia,IDN,7.867760,95.320145,5.602577,8.196210,12.083830,6.692113,4.526749,8.008964,...,32.880121,32.984333,35.071594,33.831357,34.600344,34.062792,33.858739,33.717078,34.569771,NaN
29,Japan,JPN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,21.297486,22.103301,22.654423,23.190910,23.916100,24.022670,23.407404,23.902984,NaN,NaN
30,Malaysia,MYS,17.541258,20.524954,23.903803,19.740498,19.479812,19.152400,19.117470,20.160481,...,23.386541,23.188258,25.748621,25.937107,24.977608,25.136619,25.834105,25.558380,23.626107,NaN
31,"Korea, Republic of",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,"Taiwan, Province of China",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,Thailand,THA,14.463658,13.959472,16.987962,19.824642,18.527972,18.635139,21.772548,21.900580,...,25.356641,26.791487,28.024183,27.457085,23.919040,22.355703,20.940180,22.836035,25.013519,NaN
34,Australia,AUS,31.619243,33.187076,28.465263,30.868569,30.736604,33.583765,32.659767,32.967357,...,26.851141,26.507212,27.742558,27.895792,26.745635,26.259733,25.418913,24.050332,24.329928,NaN
35,New Zealand,NZL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,20.082189,20.443536,20.922597,22.011743,22.871883,23.196858,23.498742,23.483488,NaN,NaN
36,Algeria,DZA,42.184577,47.189529,35.420613,28.940662,21.846608,22.603944,17.324132,23.434417,...,41.430293,38.055064,39.158278,43.390599,45.554433,50.780587,50.806531,48.398116,NaN,NaN
37,Egypt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,Nigeria,NGA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,17.562103,16.360562,14.958826,14.903906,15.802703,15.490104,15.366736,15.474328,NaN,NaN
39,South Africa,ZAF,21.881353,20.930641,19.818781,23.993463,25.290148,27.272727,24.781870,27.446398,...,19.512981,19.720948,19.965985,21.163557,20.499494,20.917957,19.160966,18.806213,17.940380,NaN
40,"Iran, Islamic Republic of",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,Kuwait,KWT,NaN,NaN,NaN,NaN,NaN,15.754339,17.681499,21.330275,...,17.658582,13.548067,12.835012,14.351485,16.290410,25.428085,27.362218,29.073359,NaN,NaN
42,Saudi Arabia,SAU,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,30.926289,26.970852,26.541563,26.469727,28.750587,35.127481,26.605863,28.861962,25.881731,NaN
43,United Arab Emirates,ARE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,27.081853,23.190257,21.912154,19.285669,22.197929,25.671374,26.029477,24.811620,22.441147,NaN

In [91]:
data2 = data2.reset_index()

In [93]:
data_tidy = pd.melt(data2, id_vars = ['Country Code', 'Country Name'], var_name = ['year'], value_name = 'cap_for')

In [94]:
data_tidy = data_tidy.set_index(['Country Name', 'Country Code']).sort_index()

In [95]:
data_tidy.to_csv('capital_formation.csv', sep = ',')