In [1]:
import numpy as np
import pandas as pd

In [5]:
p_usa = pd.read_csv("Average_retail_price_of_electricity.csv", skiprows = 4 )

In [9]:
p_usa_long = p_usa.transpose()

In [10]:
p_usa_long.info()

<class 'pandas.core.frame.DataFrame'>
Index: 225 entries, description to Jun 2019
Data columns (total 8 columns):
0    2 non-null object
1    3 non-null object
2    225 non-null object
3    225 non-null object
4    225 non-null object
5    225 non-null object
6    225 non-null object
7    225 non-null object
dtypes: object(8)
memory usage: 25.8+ KB

In [14]:
p_usa_long.columns = p_usa_long.iloc[0]

In [26]:
p_usa_long.drop(columns=['Average retail price of electricity', 'United States'], inplace = True)

In [28]:
p_usa_long.drop(index =  ['description', 'units', 'source key'], inplace = True)

In [29]:
p_usa_long

description,United States : all sectors,United States : residential,United States : commercial,United States : industrial,United States : transportation,United States : other
Jan 2001,6.75,7.73,7.25,4.73,--,6.48
Feb 2001,6.87,8.04,7.51,4.80,--,6.94
Mar 2001,7.01,8.32,7.70,4.86,--,7.05
Apr 2001,7.02,8.46,7.73,4.87,--,7.04
May 2001,7.17,8.83,7.77,5.00,--,7.14
Jun 2001,7.58,9.07,8.13,5.23,--,7.51
Jul 2001,7.88,9.03,8.41,5.57,--,7.70
Aug 2001,7.84,9.01,8.35,5.50,--,7.58
Sep 2001,7.62,8.92,8.22,5.31,--,7.23
Oct 2001,7.43,8.84,8.27,5.07,--,7.52
Nov 2001,7.02,8.47,7.73,4.78,--,7.10
Dec 2001,7.03,8.29,7.66,4.78,--,6.99
Jan 2002,6.95,8.07,7.49,4.73,--,6.44
Feb 2002,6.97,8.19,7.68,4.76,--,6.67
Mar 2002,6.95,8.17,7.72,4.73,--,6.64
Apr 2002,6.95,8.37,7.68,4.73,--,6.74
May 2002,7.11,8.64,7.84,4.78,--,6.80
Jun 2002,7.45,8.73,8.18,5.03,--,6.96
Jul 2002,7.68,8.82,8.33,5.27,--,6.83
Aug 2002,7.58,8.72,8.24,5.15,--,6.78
Sep 2002,7.36,8.59,8.00,4.98,--,6.73
Oct 2002,7.20,8.47,8.00,4.91,--,6.75
Nov 2002,6.94,8.31,7.64,4.71,--,6.67
Dec 2002,6.96,8.08,7.59,4.72,--,6.92
Jan 2003,7.00,8.00,7.45,4.92,7.23,--
Feb 2003,7.05,8.02,7.65,4.99,7.42,--
Mar 2003,7.16,8.35,7.78,5.02,7.32,--
Apr 2003,7.27,8.82,7.93,4.99,7.61,--
May 2003,7.42,8.99,8.06,5.06,7.57,--
Jun 2003,7.78,9.25,8.44,5.28,7.75,--
...,...,...,...,...,...,...
Jan 2017,10.13,12.21,10.21,6.59,9.39,--
Feb 2017,10.28,12.79,10.48,6.63,9.50,--
Mar 2017,10.28,12.89,10.46,6.71,9.49,--
Apr 2017,10.07,12.72,10.40,6.60,9.46,--
May 2017,10.34,13.07,10.59,6.78,9.61,--
Jun 2017,10.83,13.20,11.01,7.19,10.18,--
Jul 2017,10.95,13.08,10.97,7.31,10.12,--
Aug 2017,10.91,13.15,11.01,7.22,10.06,--
Sep 2017,10.86,13.28,11.03,7.17,9.99,--
Oct 2017,10.40,12.80,10.78,6.91,9.57,--
Nov 2017,10.28,12.94,10.49,6.73,9.50,--
Dec 2017,10.17,12.45,10.28,6.54,9.35,--
Jan 2018,10.47,12.25,10.49,6.96,9.44,--
Feb 2018,10.48,12.66,10.65,6.81,9.84,--
Mar 2018,10.40,12.99,10.49,6.66,9.43,--
Apr 2018,10.23,12.88,10.44,6.58,9.48,--
May 2018,10.41,13.15,10.50,6.82,9.46,--
Jun 2018,10.79,13.04,10.82,7.18,10.16,--
Jul 2018,11.03,13.13,10.98,7.34,10.19,--
Aug 2018,11.02,13.28,11.00,7.21,9.69,--
Sep 2018,10.70,13.01,10.68,7.09,10.30,--
Oct 2018,10.46,12.87,10.75,6.91,9.84,--
Nov 2018,10.43,12.95,10.56,6.88,9.72,--
Dec 2018,10.27,12.47,10.33,6.65,9.72,--
Jan 2019,10.29,12.47,10.29,6.58,9.80,--
Feb 2019,10.43,12.70,10.52,6.68,10.01,--
Mar 2019,10.38,12.83,10.44,6.73,9.33,--
Apr 2019,10.31,13.26,10.51,6.53,9.58,--
May 2019,10.43,13.32,10.53,6.71,9.51,--
Jun 2019,10.80,13.34,10.89,6.91,10.13,--

In [32]:
ener_inv_reg = pd.read_csv("renewable-energy-investment.csv")

In [45]:
pd.set_option('display.float_format', lambda x: '$%.3f' % x)

In [43]:
ener_inv_reg.drop("Code", axis = 1, inplace = True)
ener_inv_reg.set_index("Entity", inplace = True)

KeyError: "['Code'] not found in axis"

In [46]:
ener_inv_reg

,Year,Investment in Renewables by Region (IRENA (2016)) (international-$)
Entity,,
Americas (excl. US and Brazil),2004,$1730000000.000
Americas (excl. US and Brazil),2005,$3320000000.000
Americas (excl. US and Brazil),2006,$3710000000.000
Americas (excl. US and Brazil),2007,$5010000000.000
Americas (excl. US and Brazil),2008,$6050000000.000
Americas (excl. US and Brazil),2009,$5550000000.000
Americas (excl. US and Brazil),2010,$11980000000.000
Americas (excl. US and Brazil),2011,$9290000000.000
Americas (excl. US and Brazil),2012,$10090000000.000
Americas (excl. US and Brazil),2013,$12000000000.000
Americas (excl. US and Brazil),2014,$13280000000.000
Americas (excl. US and Brazil),2015,$12830000000.000
Asia and Oceania (excl. China and India),2004,$7340000000.000
Asia and Oceania (excl. China and India),2005,$9040000000.000
Asia and Oceania (excl. China and India),2006,$10010000000.000
Asia and Oceania (excl. China and India),2007,$12380000000.000
Asia and Oceania (excl. China and India),2008,$13610000000.000
Asia and Oceania (excl. China and India),2009,$13940000000.000
Asia and Oceania (excl. China and India),2010,$19330000000.000
Asia and Oceania (excl. China and India),2011,$23840000000.000
Asia and Oceania (excl. China and India),2012,$30170000000.000
Asia and Oceania (excl. China and India),2013,$44430000000.000
Asia and Oceania (excl. China and India),2014,$48760000000.000
Asia and Oceania (excl. China and India),2015,$47560000000.000
Brazil,2004,$850000000.000
Brazil,2005,$3150000000.000
Brazil,2006,$5150000000.000
Brazil,2007,$11360000000.000
Brazil,2008,$11770000000.000
Brazil,2009,$7910000000.000
...,...,...
India,2010,$8840000000.000
India,2011,$12780000000.000
India,2012,$7800000000.000
India,2013,$6560000000.000
India,2014,$8300000000.000
India,2015,$10160000000.000
Middle East and Africa,2004,$570000000.000
Middle East and Africa,2005,$780000000.000
Middle East and Africa,2006,$1120000000.000
Middle East and Africa,2007,$1820000000.000
Middle East and Africa,2008,$2310000000.000
Middle East and Africa,2009,$1630000000.000
Middle East and Africa,2010,$4060000000.000
Middle East and Africa,2011,$2980000000.000
Middle East and Africa,2012,$10160000000.000
Middle East and Africa,2013,$9270000000.000
Middle East and Africa,2014,$7900000000.000
Middle East and Africa,2015,$12470000000.000
United States of America,2004,$5560000000.000
United States of America,2005,$11870000000.000
United States of America,2006,$29060000000.000
United States of America,2007,$33230000000.000
United States of America,2008,$35460000000.000
United States of America,2009,$23950000000.000
United States of America,2010,$34720000000.000
United States of America,2011,$49060000000.000
United States of America,2012,$40650000000.000
United States of America,2013,$35330000000.000
United States of America,2014,$37050000000.000
United States of America,2015,$44110000000.000

In [69]:
p_mex = pd.read_excel("gghphnulvk_IIIBC01_18092019_18_19.xls", skiprows = 6)

In [70]:
p_mex.drop(index = [0,9,10], inplace = True)

In [71]:
p_mex_long = p_mex.transpose()

In [79]:
p_mex_long.columns = p_mex_long.iloc[0]

In [81]:
p_mex_long.drop(index = "Unnamed: 0", inplace = True)

In [83]:
p_mex_long

Unnamed: 0,Total,Residencial,Servicios,Comercial,Agrícola,Industrial,Empresa mediana,Gran industria
I/2002,$72.078,$77.498,$125.197,$137.189,$32.822,$60.766,$69.641,$48.068
I/2003,$84.829,$85.205,$133.957,$161.212,$36.777,$75.013,$84.720,$60.279
I/2004,$95.335,$88.898,$140.919,$186.012,$39.792,$87.163,$97.449,$70.958
I/2005,$102.843,$92.800,$148.062,$205.455,$43.769,$95.705,$106.608,$78.033
I/2006,$113.890,$99.265,$157.052,$231.136,$45.325,$107.907,$119.190,$88.615
I/2007,$117.994,$102.568,$166.163,$239.082,$48.141,$111.610,$123.656,$90.738
I/2008,$137.437,$107.131,$172.134,$254.764,$52.243,$140.541,$152.477,$119.099
I/2009,$121.870,$107.864,$175.892,$237.797,$44.244,$116.426,$127.162,$95.597
I/2010,$133.882,$113.270,$186.112,$256.912,$49.177,$131.423,$143.288,$110.017
I/2011,$142.830,$118.324,$196.364,$272.357,$55.605,$143.395,$156.267,$121.592
I/2012,$149.588,$118.608,$208.219,$291.266,$58.511,$150.886,$164.999,$127.519
I/2013,$152.710,$116.015,$225.904,$294.602,$53.658,$155.190,$168.560,$132.144
I/2014,$158.106,$119.850,$235.695,$303.580,$48.754,$161.608,$174.564,$138.132
I/2015,$139.147,$119.582,$251.602,$280.155,$56.276,$129.683,$141.757,$106.181
I/2016,$140.249,$118.725,$267.699,$285.685,$58.905,$131.258,$143.146,$107.018
I/2017,$151.606,$109.438,$260.551,$316.599,$55.571,$154.082,$165.902,$127.349
I/2018,N/D,N/D,N/D,N/D,N/D,N/D,N/D,N/D
I/2019,N/D,N/D,N/D,N/D,N/D,N/D,N/D,N/D